@media(min-width: 576px){

    .block-sm-flex{
        display: flex;
    }

    .resp-sm-50{
    width: 50%;
    }

    .align-right{
        text-align: right;
    }

    .align-h-center{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 576px){
    .block-sm-flex{
        display: block;
    
    }
}
